html,
body {
    height: 100%;
    margin: 0;
}

.notes {
    display: flex;
    height: 100%;
}
/* style want for the whole notes div */
.notes * {
    font-family: sans-serif;
}

.notes__sidebar {
    border-right: 2px solid #dddddd;
    /* the item will shrink relative to the rest of the flexible items inside the same container.

 */
    flex-shrink: 0;
    /* scrolling at y direction */
    overflow-y: auto;
    padding: 1rem;
    width: 300px;
}

.notes__add {
    background: #009578;
    border: none;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.25em;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 0.75em 0;
    width: 100%;
}

.notes__add:hover {
    background: #00af8c;
}

.notes__list-item {
    cursor: pointer;
}

.notes__list-item--selected {
    background: #eeeeee;
    border-radius: 7px;
    font-weight: bold;
}

.notes__small-title,
.notes__small-updated {
    padding: 10px;
}

.notes__small-title {
    font-size: 1.2em;
}

.notes__small-body {
    padding: 0 10px;
}

.notes__small-updated {
    color: #aaaaaa;
    font-style: italic;
    text-align: right;
}

.notes__preview {
    display: flex;
    flex-direction: column;
    padding: 2em 3em;
    /* the item will grow relative to the rest of the flexible items inside the same container. */
    flex-grow: 1;
}
/* for notes main part */
.notes__title,
.notes__body {
    border: none;
    outline: none;
    width: 100%;
}
/* notes title */
.notes__title {
    font-size: 3em;
    font-weight: bold;
}

.notes__body {
    flex-grow: 1;
    font-size: 1.2em;
    line-height: 1.5;
    margin-top: 2em;
    resize: none;
}
